node_modules
npm-debug.log
dist
.git
.gitignore
README.md
.env.local
.env.development
.env.test
.env.production
.nyc_output
coverage
.coverage.*
test
*.md
.DS_Store
.vscode
.idea
uploads/*
!uploads/.gitkeep
Dockerfile
.dockerignore
docker-compose.yml
.github
